@import '../../../styles/utils/variables.scss';

.tasty {
  max-width:1920px;
  margin: 100px auto 0;
  position: relative;

  &__title {
    font-family: "Fredoka One";
    text-align: left;
    font-size: $medium;
    letter-spacing: 2px;
    line-height: 60px;
    color: #f7f7f7;
    max-width: 440px;
    position: absolute;
    top: 20px;
    left: 43.2%;
    z-index: 1;
  }

  &__content {
    display: flex;
    max-width: 45.3%;
    padding: 160px 80px 0 10px;
    height: 360px;
    background-color: #83aa75;
    opacity: 0.87;
    justify-content: flex-end;
  }

  &__text {
    max-width: 300px;
    text-align: right;
    width: 300px;
    line-height: 28px;
    color: #fff;
  }

  &__button {
    display: block;
    width: 260px;
    height: 80px;
    margin-top: 20px;
    margin-left: 60%;
    border-radius: 40px;
    cursor: pointer;
    filter: drop-shadow(0 0 3px rgba(0,0,0,0.12)) drop-shadow(0px 6px 3px rgba(0,0,0,0.24));
    background-color: #ff4200;

    font-size: $small;
    line-height: 80px;
    color: #fff;
    font-family: "Fredoka One";
    text-align: center;

    &:hover {
      color: #ff4200;
      background-color: #fff;
      border: 1px solid #ff4200;
    }
  }

  @media (max-width: 750px) {

    &__content {
      max-width: 60%;
      padding-right: 15px;
      height: 450px;
    }

    &__title {
      top: -70px;
      left: 20%;
    }

    &__button {
      margin: 40px auto 0;
    }
  }

  @media (max-width: 450px) {
    &__title {
      font-size: $small;
      left: 5%;
    }

    &__button {
      width: 180px;
      height: 60px;
      font-size: $tiny;
      line-height: 60px;
    }
  }
}
