@import '../../../styles/utils/variables.scss';

.upper-info {
  background: url('./icons-detalis/Details-bg.svg');
  height: 60px;
  font-size: 14px;
  position: relative;

  &__wrapper {
    height: 100%;
    max-width: 960px;
    margin: 0 auto;

    display: flex;
    justify-content: flex-end;
    position: relative;

    color:#fff;
    align-items: center;
  }

  &__total {
    padding-right: 20px;
  }

  &__amount {
    padding-right: 70px;
  }

  &__orders {
    position: relative;
    height:60px;
    padding-right: 80px;
    padding-top: 20px;
  }

  &__orders-amount {
    border-radius: 50%;
    width: 20px;
    height:20px;
    text-align: center;
    line-height: 20px;
    background-color: rgb(255, 66, 0);
    position: absolute;
    left: 10px;
    top: 10px;
  }

  &__details {
    display: block;
    padding-right: 24px;
    cursor: pointer;
    font-family: inherit;
    font-size: inherit;
    color: inherit;

    &::after {
      content: url('./icons-detalis/angle-down.svg');
      padding-left: 14px;
    }
  }

  &__logo {
    font-family: 'Kristi', sans-serif;
    font-size: $extralarge;

    position: absolute;
    left: 12px;
    bottom: -25px;

    &::after {
      content: 'logo';
      position: absolute;
      font-family: 'Lato', sans-serif;
      font-size: 18px;
      bottom: -5px;
      right: -20px;
    }
  }

  @media (max-width: 530px) {
    &__logo {
      display: none;
    }

    &__wrapper {
      justify-content: center;
    }

    &__amount {
      padding-right: 10px;
    }

    &__orders {
      padding-right: 30px;
    }
  }
}
