.order-info {
  min-width: 700px;
  background-color: rgb(244, 244, 244);
  position: absolute;
  right: 0;
  top: 60px;
  z-index: 4;

  &__logos {
    padding: 20px 0 20px 160px;
  }

  &__logo {
    padding-right: 25px;
  }

  &__list {
    margin-bottom: 20px;
  }

  &__item {
    display: flex;
    align-items: center;
    padding-left:100px;
    padding: 0 10px 20px 100px;
  }

  &__button-close {
    background: url('./icons-order-info/cancel.svg') no-repeat center;
    background-size: cover;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    transition: transform 0.5s;

    &:hover {
      transform: rotate(90deg);
    }
  }

  &__amount {
    display: flex;
    justify-content: flex-end;
    padding-right: 30px;
    padding-bottom: 20px;
    padding: 0 30px 20px;
    align-items: center;
  }

  &__total {
    font-size: 18px;
    line-height: 33px;
    color: #333333;
    font-weight: 700;
    font-family: "Lato";
    text-align: center;
  }

  &__total > span {
    font-size: 22px;
    margin:0 45px 0 20px;
  }

  &__button-check {
    font-size: 18px;
    line-height: 37px;
    color: #ffffff;
    font-family: "Avenir";
    text-align: center;
    width: 140px;
    height: 42px;
    border-radius: 21px;
    background-color: #ff4200;
    cursor: pointer;

    &:hover {
      color: #ff4200;
      background-color: #fff;
      border: 1px solid #ff4200;
    }
  }

  @media (max-width: 650px) {
    & {
      min-width: 250px;
      padding-right: 50px;
    }
    &__logo {
      display: none;
    }

    &__item {
      justify-content: center;
      padding-left: 20px;
    }

    
    &__mass {
      padding-right: 10px;
      flex-shrink: 0;
    }

    &__price {
      flex-shrink: 0;
    }
  }

  @media (max-width: 550px) {
    &__amount {
      flex-direction: column;
    }

    &__total > span {
      margin-right: 0;
    }
  }
}
